## Task 1: Table Booking and Online Delivery

In [16]:
# Import the necessary libraries for data preprocessing and manipulation

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium.plugins import MarkerCluster

In [17]:
# Load the dataset

df = pd.read_csv(r"C:\Users\DELL\Downloads\Cognifyz Task 1\Dataset.csv")

In [18]:
# Print the top rows

df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [21]:
# Calculate percentage of restaurants offering table booking

table_booking_counts = df['Has Table booking'].value_counts()
table_booking_percentage = (table_booking_counts['Yes'] / len(df)) * 100

In [22]:
# Calculate percentage of restaurants offering online delivery

online_delivery_counts = df['Has Online delivery'].value_counts()
online_delivery_percentage = (online_delivery_counts['Yes'] / len(df)) * 100

In [23]:
# Print the result

print(f"Percentage of restaurants offering table booking: {table_booking_percentage:.2f}%")
print(f"Percentage of restaurants offering online delivery: {online_delivery_percentage:.2f}%")

Percentage of restaurants offering table booking: 12.12%
Percentage of restaurants offering online delivery: 25.66%

In [24]:
# The average rating of restaurants with and without table booking

table_booking_avg_rating = df.groupby('Has Table booking')['Aggregate rating'].mean()

In [25]:
# Print the result

print(f"Average rating of restaurants with table booking: {table_booking_avg_rating['Yes']:.2f}")
print(f"Average rating of restaurants without table booking: {table_booking_avg_rating['No']:.2f}")

Average rating of restaurants with table booking: 3.44
Average rating of restaurants without table booking: 2.56

###### The restaurants with table booking seem to have a higher average rating

In [66]:
# Analyzing the price ranges of restaurants with online delivery

restaurants_with_online_delivery = df[df['Has Online delivery']=='Yes'][['Restaurant Name', 'Has Online delivery','Average Cost for two']]

In [67]:
print(restaurants_with_online_delivery.sort_values(by='Average Cost for two',ascending=False).head(10))

                       Restaurant Name Has Online delivery  \
5026      Lodi - The Garden Restaurant                 Yes
9096                      TGI Friday's                 Yes
1863                   Gung The Palace                 Yes
1579                      TGI Friday's                 Yes
1225          California Pizza Kitchen                 Yes
4643                  Cafe Illuminatii                 Yes
3436                      TGI Friday's                 Yes
3746     Diva - The Italian Restaurant                 Yes
2997                     Pebble Street                 Yes
727   The Fatty Bao - Asian Gastro Bar                 Yes

      Average Cost for two
5026                  2600
9096                  2500
1863                  2500
1579                  2500
1225                  2500
4643                  2500
3436                  2500
3746                  2500
2997                  2400
727                   2400

In [68]:
# Analyzing the price ranges of restaurants without online delivery

restaurants_without_online_delivery = df[df['Has Online delivery']=='No'][['Restaurant Name', 'Has Online delivery','Average Cost for two']]

In [69]:
print(restaurants_without_online_delivery.sort_values(by='Average Cost for two',ascending=False).head(10))

                  Restaurant Name Has Online delivery  Average Cost for two
9283                         Skye                  No                800000
9284     Satoo - Hotel Shangri-La                  No                800000
9287                   Sushi Masa                  No                500000
9289               3 Wise Monkeys                  No                450000
9294  Avec Moi Restaurant and Bar                  No                350000
9288   Lucky Cat Coffee & Kitchen                  No                300000
9295                      Onokabe                  No                300000
9278                   Lemongrass                  No                250000
9285                        MONKS                  No                250000
9296             Talaga Sampireun                  No                200000

###### It can be seen that the restaurants without Online delivery seem to be more expensive for a typical standard meal for two than the restaurants with Online delivery.

## Task 2: Price Range Analysis

In [58]:
# The most common price range among all the restaurants

most_common_price_range = df['Average Cost for two'].value_counts().idxmax()

print(f'The most common price range among all the restaurants: {most_common_price_range}')

The most common price range among all the restaurants: 500

In [59]:
# The average rating for each price range

average_rating_for_price_range = df.groupby('Average Cost for two')['Aggregate rating'].mean()

In [62]:
print(f'The average rating for each price range: {average_rating_for_price_range.head(10).sort_values(ascending=False)}')

The average rating for each price range: Average Cost for two
35    4.329412
45    4.183333
40    4.115652
10    4.011719
25    3.928736
0     3.761111
30    3.737500
7     3.725000
20    3.696000
15    3.575000
Name: Aggregate rating, dtype: float64

In [87]:
# The color of the highest average rating among the different prices

# Find the average rating per price
avg_rating_per_price = df.groupby('Average Cost for two')['Aggregate rating'].mean()

In [88]:
highest_avg_rating_per_price = avg_rating_per_price.idxmax()

In [89]:
color_mapping = df[df['Average Cost for two']==highest_avg_rating_per_price]['Rating color'].mode()[0]

In [91]:
print(f"The color that represents the highest average rating per price is: {color_mapping}")

The color that represents the highest average rating per price is: Dark Green

## Task 3: Feature Engineering

In [92]:
# Extracting additional features

df['Restaurant Name Length'] = df['Restaurant Name'].str.len()

In [93]:
df['Address Length'] = df['Address'].str.len()

In [98]:
print(df[['Restaurant Name', 'Restaurant Name Length', 'Address', 'Address Length']].head(10))

                            Restaurant Name  Restaurant Name Length  \
0                          Le Petit Souffle                      16
1                          Izakaya Kikufuji                      16
2                    Heat - Edsa Shangri-La                      22
3                                      Ooma                       4
4                               Sambo Kojin                      11
5                              Din Tai Fung                      12
6                                Buffet 101                      10
7                                   Vikings                       7
8  Spiral - Sofitel Philippine Plaza Manila                      40
9                                  Locavore                       8

                                             Address  Address Length
0  Third Floor, Century City Mall, Kalayaan Avenu...              71
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...              67
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...              56
3  Third Floor, Mega Fashion Hall, SM Megamall, O...              70
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...              64
5  Ground Floor, Mega Fashion Hall, SM Megamall, ...              71
6  Building K, SM By The Bay, Sunset Boulevard, M...              83
7  Building B, By The Bay, Seaside Boulevard, Mal...              81
8  Plaza Level, Sofitel Philippine Plaza Manila, ...              69
9  Brixton Technology Center, 10 Brixton Street, ...              67

In [102]:
# Creating new features by encoding categorical variables

# Encode 'Has Table booking' - Yes= 1, No= 0
df['Has Table Booking Map'] = df['Has Table booking'].map({'Yes': 1, 'No': 0})

In [103]:
# Encode 'Has Online delivery' - Yes= 1, No= 0
df['Has Online Delivery Map'] = df['Has Online delivery'].map({'Yes': 1, 'No': 0})

In [104]:
print(df[['Has Table booking', 'Has Table Booking Map', 'Has Online delivery', 'Has Online Delivery Map']].head(10))

  Has Table booking  Has Table Booking Map Has Online delivery  \
0               Yes                      1                  No
1               Yes                      1                  No
2               Yes                      1                  No
3                No                      0                  No
4               Yes                      1                  No
5                No                      0                  No
6               Yes                      1                  No
7               Yes                      1                  No
8               Yes                      1                  No
9               Yes                      1                  No

   Has Online Delivery Map
0                        0
1                        0
2                        0
3                        0
4                        0
5                        0
6                        0
7                        0
8                        0
9                        0